{% extends 'base.html' %}

{% block title %}Persistencia{% endblock %}

{% block content %}
<section>
    <h2>Persistencia TXT</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos_txt %}
            <tr>
                <td>{{ item.id_producto }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Persistencia JSON</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos_json %}
            <tr>
                <td>{{ item.id_producto }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Persistencia CSV</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos_csv %}
            <tr>
                <td>{{ item.id_producto }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Persistencia SQLite</h2>
    <table>
        <thead>
            <tr>
                <th>MySQL ID</th>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Precio</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for item in datos_sqlite %}
            <tr>
                <td>{{ item.mysql_id }}</td>
                <td>{{ item.nombre }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.stock }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}